node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.envrc
.nitro
.tanstack
.wrangler
.output
.tanstack
.vinxi
todos.json
.aider*
# use this as the temp file to jot down your thoughts into ai
commands.md
