services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5564:5432"
    volumes:
      - projectsprint_lingo_db:/var/lib/postgresql

volumes:
  projectsprint_lingo_db:
